body {
	background-color: #fff;
}

/* Add a background color to the navbar */
.navbar {
	background-image: url("images/abstract-mixed-pastel-colors-background-free-vector(1).jpg");
	background-size: cover;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	margin-left: 0px;
	margin-right: 40px;
	z-index: 5;
}
	
/* Style the links inside the navigation bar */
/*MAKE FONT HEAVIER*/
.navbar a {
	z-index: 999;
	float: left;
	display: block;
	color: #F2F2F2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	height: 40px;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Raleway;
	font-weight: bolder;
}

.navbar a.home {
	max-height: 100%;
	height: 80px;
	margin-top: 5px;
	max-width: auto;
	background-image: url("images/logos/aiff_logo.png");
	background-size: cover;
	border-radius: 15px;
	margin-left: 4%;
	margin-right: 30px;
	margin-bottom: 5px;
}

.navbar a.films {
	border-radius: 0px 15px 0px 15px;
}

.navbar a.news {
	border-radius: 0px 15px 0px 15px;
}

.navbar a.contact {
	border-radius: 0px 15px 0px 15px;
}

.navbar a.cine {
	border-radius: 0px 15px 0px 15px;
}

.navbar a.volunteer {
	border-radius: 0px 15px 0px 15px;
	margin-left: 8%;
	margin-right: 2%;
}

.navbar a.shop {
	margin-right: 8%;
	border-radius: 0px 15px 0px 15px;
}

/*
.navbar a.about-us {
	float: right;
	border-radius: 0px 16px 0px 16px;
	margin-right: 4%;
}
*/

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
	#e157ff,
	#4344fd,
	#9b17e4,
	#3931fe,
	#cd6bff,
	#6477fe,
	#7d29f7
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  background-size: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
	display: none;
}

/* Add a dark background on navbar links and the dropdown button on hover */
.navbar a:hover {
	background-color: rgb(25, 25, 25);
	color: white;
}

.navbar a:hover.volunteer {
	background-color: #5dff70;
}

.navbar a:hover.shop {
	background-color: #ff705d;
}
	
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1153px) {
	.navbar a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
	.navbar a {
		padding-bottom: 2px;
	}
}
	
/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1153px) {

	#myNavbar {
		margin-left: 0;
		width: 100%;
		top: 0;
		transition: top 2s;
	}

	.navbar a.home {
		margin-left: 5%;
	}
	.navbar a {
		margin-right: 5%;
	}
	.navbar.responsive {
		position: relative;
	}
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.navbar.responsive .dropdown {
		float: none;
	}

	.navar.responsive .dropdown-content {
		position: relative;
	}

	.navbar.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
} 

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	margin:0
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

div.random-text {
	font-size: 22px;
	color: darkgrey;
	margin-top: 80px;
}

.funky-text {
	position: relative;
	animation: fadeInRight 1s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10%;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(300px);
	}
	to {
		opacity: 1;
	}
}

.introduction-text-s {
	font-family: Raleway;
	color: #000;
	line-height: 1.2;
	font-weight: 550;
	position: relative;
}

.introduction-text-s::before {  
	transform: scaleX(0);
	transform-origin: bottom right;
}

.introduction-text-s:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.introduction-text-s::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	inset: 0 0 0 0;
	background-image: url("images/abstract-mixed-pastel-colors-background-free-vector(1).jpg");
	opacity: 0.8;
	background-size: cover;
	z-index: -1;
	transition: transform .5s ease;
}

@media (orientation: landscape) {
	body {
		grid-auto-flow: column;
	}
}

.introduction-text-n {
	font-family: Raleway;
	color: #8f8f8f;
	font-size: 3.2em;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.02em;
}

.introduction-text-ultra {
	position: relative;
  	background-image: linear-gradient(
    /* -225deg, */
	170deg,
	#e157ff 0%,
	#4344fd 16.7%,
	#9b17e4 33.4%,
	#3931fe 50%,
	#cd6bff 66.8%,
	#6477fe 83.5%,
	#7d29f7 100%
  	);
  	background-size: auto auto;
  	background-clip: border-box;
  	background-size: 200% auto;
  	color: #fff;
  	background-clip: text;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	animation: text-background-anim 0.5s linear infinite;
  	display: inline-block;
	font-family: Raleway;
	font-weight: 600;
	font-size: 1em;
}

@keyframes text-background-anim {
	to {
	  background-position: 200% center;
	}
}

  .anim {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 20px auto;
	width: fit-content;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: -100px;
	height: fit-content;
	background: #fff;
	border-radius: 75px;
  }
  
  .anim:hover::before, .anim:hover::after {
	display: block;
	content: '';
	position: absolute;
	width: 101%;
	height: 100%;
	background-color: #6748fe;
	border-radius: 75px;
	z-index: -1;
	animation: 1s clockwise infinite;
	opacity: 0.5;
  }
  
  .anim:hover:after {
	background: #88fefe;
	animation: 2s counterclockwise infinite;
	opacity: 0.5;
  }
  
  @keyframes clockwise {
	0% {
	  top: -5px;
	  left: 0;
	}
	12% {
	  top: -2px;
	  left: 2px;
	}
	25% {
	  top: 0;
	  left: 5px;    
	}
	37% {
	  top: 2px;
	  left: 2px;
	}
	50% {
	  top: 5px;
	  left: 0;    
	}
	62% {
	  top: 2px;
	  left: -2px;
	}
	75% {
	  top: 0;
	  left: -5px;
	}
	87% {
	  top: -2px;
	  left: -2px;
	}
	100% {
	  top: -5px;
	  left: 0;    
	}
  }
  
  @keyframes counterclockwise {
	0% {
	  top: -5px;
	  right: 0;
	}
	12% {
	  top: -2px;
	  right: 2px;
	}
	25% {
	  top: 0;
	  right: 5px;    
	}
	37% {
	  top: 2px;
	  right: 2px;
	}
	50% {
	  top: 5px;
	  right: 0;    
	}
	62% {
	  top: 2px;
	  right: -2px;
	}
	75% {
	  top: 0;
	  right: -5px;
	}
	87% {
	  top: -2px;
	  right: -2px;
	}
	100% {
	  top: -5px;
	  right: 0;    
	}
  }





.indent1 {
	margin-left: 25%;
}

.indent2 {
	margin-left: 10%;
}

.indent3 {
	margin-left: 15%;
}

.caracteristics {
	text-align: center;
	margin-top: 15%;
}

.award-related-text {
	margin-left: 3%;
	margin-right: 4%;
}

@media screen and (max-width: 1153px) {

	.navbar a {
		height: 70px;
	}

	.navbar a.home {
		margin-right: 100%;
		position: inherit;
	}

	.navbar a.volunteer {
		margin-left: 0%;
	}

	.navbar a.button-85 {
		margin-left: 30px;
		margin-bottom: 20px;
	}

	.navbar i.fa.fa-bars {
		position: relative;
		z-index: 9999;
		margin-right: 30px;
	}

	.funky-text {
		margin-left: 7%;
		margin-top: 20%;
	}
	.introduction-text-n {
		font-size: 2.2em;
		font-weight: 500;
	}
	.introduction-text-s {
		font-weight: 550;
	}
	.indent1 {
		margin-left: 0%;
	}
	.indent2 {
		margin-left: 0%;
	}
	.indent3 {
		margin-left: 0%;
	}
}

@media (max-width: 900px) {
	section h1 {
		font-size: 2rem;
		text-align: center;
	}
	section .text-container {
		flex-direction: column;
	}
}

.reveal {
	position: relative;
	transform: translateY(1px);
	opacity: 0;
	transition: 0.4s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}
.active.fade-bottom {
	animation: fade-bottom 0.4s ease-in;
}
.active.fade-left {
	animation: fade-left 0.4s ease-in;
}
.active.fade-right {
	animation: fade-right 0.4s ease-in;
}
@keyframes fade-bottom {
	0% {
		transform: translateY(1px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-left {
	0% {
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.awards {
	margin-left: 5%;
}